<% provide :title, t(".sign_in") %>
<div class="devise">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 form-sign">
      <%= render "login_form" %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
