<% if @items.blank? %>
  <div class="row">
    <h2 class="section_title">
      <%= t ".no_result", name: params[:search] %>
    </h2>
  </div>
<% else %>
  <div class="row">
    <h2 class="section_title">
      <%= t ".see_more", num: @items.size,
        name: params[:search] ||= t(".search_all") %>
    </h2>
  </div>
  <div class="container">
    <% @items.each do |item| %>
      <% if item.is_a? MiniPitch %>
        <%= render "mini_pitches/search_item", mini_pitch: item %>
      <% elsif item.is_a? Pitch %>
        <%= render "pitches/search_item", pitch: item %>
      <% end %>
    <% end %>
  </div>
<% end %>
