.gmap-show-mini-pitch {
  min-height: 400px;
  margin-top: 20px;
}

.gmap {
  min-width: 500px; 
  min-height: 500px; 
  margin-bottom: 20px;
}

.pitch-form {
  .form-group {
    padding: 10px 20px 10px 20px;
  }
}

.rent_mini_pitch-modal {
	font-size: 20px;
  max-width: 400px;

  .rent-mini-pitch-start {
    color: red;
  }

  .rent-mini-pitch-end {
    color: red;
  }

  .rent-mini-pitch-date {
    color: red;
  }
  .rent-mini-pitch-name {
    color: green;
  }

  .confirm_order {
    padding-left: 40px;
  }

  i {
    padding-left: 20px;
  }
}

.gmap-show-rent {
  min-height: 465px;
}

.gmap-show-match {
  min-height: 400px;
}

.join-match-btn {
  float: right;
  font-size: 15px;
}

.pitch-search-mini {
  margin-top: 25px;
}

.pitch-search-mini-title {
  margin-top: 12px;
}

.rent-info {
  font-size: 15px;
}

.form-search-mini-pitch {
  padding-top: 100px;
}
