.gmap-show-mini-pitch {
  min-height: 400px;
  margin-top: 20px;
}

.gmap {
  min-width: 500px; 
  min-height: 500px; 
  margin-bottom: 20px;
}

.pitch-form {
  .form-group {
    padding: 10px 20px 10px 20px;
  }
}