<div class="row">
  <h2 class="row_h2">
    <%= t ".your_pitch" %>
    <div class="btn_view_all_wrapper pull-right">
      <%= link_to t(".btn_request"), new_dashboard_pitch_path,
        class: "btn btn_view_all btn-warning" %>
    </div>
  </h2>
</div>
<div class="col-md-12 text-center" id="id_shops_list">
  <%= render @pitches %>
</div>
<%= paginate @pitches %>
