<%= javascript_include_tag "map" %>
<% provide :title, t(".title") %>
<% provide :submit_button, t(".create_button") %>
<h1 class="title text-center"><%= t ".title" %></h1>
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-success">
    <div class="panel-heading text-center">
      <%= t ".pitch" %>
    </div>
    <div class="panel-body pitch-form">
      <%= render "form" %>
    </div>
  </div>
</div> 
